.et-form {
	@include breakpoint(768, min) {
		.et-place-group, .et-time-group {
			.form-group:nth-child(2) {
				margin-bottom: 0;
			}
		}
		.et-place-group {
			padding-right: 15px;
		}
		.et-time-group {
			padding-left: 15px;
		}
		.et-button-group {
			margin-top: 25px;
		}
	}
	@include breakpoint(767, max) {
		.form-group {
			margin-bottom: 15px;
		}
	}
	.et-client-group {
		display: flex;
		justify-content: space-between;
	}
	.et-option-group {
		display: flex;
		justify-content: space-between;
		> * {
			flex: 0 0 calc(50% - 15px);
		}
	}
}

.et-reverse-group {
	position: relative;
	.et-reverse-control {
		position: absolute;
		top: calc(50% + 12px);
		right: -20px;
		transform: translateY(-50%);
		.btn-reverse-control {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 3px;
				width: 12px;
				@include breakpoint(768, min) {
					width: 25px;
					left: -50%;
				}
				height: 40px;
				border: none;
				border-top: solid 1px $border-color;
				border-right: solid 1px $border-color;
				border-top-right-radius: $border-radius-normal;
				top: -40px;

			}
			&::after {
				content: '';
				position: absolute;
				left: 3px;
				width: 12px;
				@include breakpoint(768, min) {
					width: 25px;
					left: -50%;
				}
				height: 40px;
				border: none;
				border-bottom: solid 1px $border-color;
				border-right: solid 1px $border-color;
				border-bottom-right-radius: $border-radius-normal;
				bottom: -40px;
			}
		}
	}
}

.et-form-filter-select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	> * {
		flex: 0 0 auto;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.btn-reverse-control {
	width: 24px;
	height: 24px;
	background-color: $white;
	border: none;
	border-radius: 50%;
	background-image: url('../images/ic_rotate.svg');
	background-size: auto 12px;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	@extend .et-shadow-100;
}

// Select 2
.select2-container {
	.select2-selection--single {
		height: 36px;
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 36px;
}
.select2-container--default .select2-selection--single {
	border-color: $border-color;
	outline: none;
	font-family: 'Roboto';
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: $gray-light;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: $primary-color;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: $border-color;
}
.select2-dropdown {
	border: none;
	@extend .et-shadow-500;
	border-radius: $border-radius-normal;
}