/**
 * Section search
 */
.et-section-search {
	margin-top: -100px;
}

/**
 * Footer
 */
.footer-content {
	background: $background-dark;
	color: $white;
	padding: 50px 0;
}
.footer-bottom {
	background: rgba($background-dark, 0.9);
	color: rgba($white, 0.84);
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.et-address-block {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	&::before {
		content: '';
		position: absolute;
		width: 100px;
		height: 2px;
		background: $gray-light;
		top: 0;
		left: 0;
	}
	h5 {
		text-transform: uppercase;
		font-weight: $font-weight;
		font-size: 16px;
		letter-spacing: 2px;
	}
}
.et-footer-list {
	h5 {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: $font-weight-bolder;
	}
	ul {
		list-style: none;
		padding-left: 0;
		> li > a {
			color: $white;
		}
	}
	.et-install-list {
		display: flex;
		justify-content: space-between;
		> li {
			flex: 0 0 48%;
			img {
				width: 100%;
			}
		}
		> li:not(:last-child) {
			img {
				margin-right: 15px;
			}
		}
	}
}

/**
 * Navbar top
 */
.header-page {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: $secondary-color;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f56353, #fac62a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f56353, #fac62a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 300px;
	img {
		margin: 0 auto;
	}
}
.navbar-right {
	float: right!important;
    margin-right: -15px;
}
.et-navbar-top {
	background: $white;
	@extend .et-shadow-100;
	margin-bottom: 0;
	.navbar-header {
		display: inline-block;
		.navbar-brand {
			img {
				height: 30px;
			}
		}
	}
	.navbar-nav {
		display: flex;
		align-items: center;
		align-self: center;
		> li {
			&:not(:last-child) {
				margin-right: $normal-spacing-item;
			}
			> a {
				color: $text-color;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: $font-weight-bolder;
				background: transparent;
				@extend  .transition;
				padding: 8px 0;
				&:focus, &:visited {
					background: transparent;
				}
			}
			&:not(.not-link) > a {
				position: relative;
				z-index: 0;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	.et-nav-account {
		display: flex;
		.et-account-avatar {
			display: flex;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			border: solid 1px $border-color;
			justify-content: center;
			align-items: center;
			margin-right: 12px;
		}
		.et-account-name {
			font-size: 14px;
			text-transform: none;
			font-weight: $font-weight-bold;
			margin-bottom: 0;
		}
		.et-account-status {
			font-size: 12px;
			font-weight: $font-weight;
			text-transform: none;
			margin-bottom: 0;
		}
	}
}

/**
 * Section follow
 */
.et-section-follow {
	padding-top: 50px;
	height: 595px;
	background: url('../images/bg_follow.jpg') no-repeat;
	background-size: auto 100%;
	background-position: top center;
	.row1 {
		font-size: 24px;
		margin-bottom: 0;
	}
	.row2 {
		margin-bottom: 42px;
	}
}
.et-form-follow {
	padding: 12px;
	width: 100%;
	border: solid 1px $gray;
	border-radius: 3px;
	.form-group {
		width: 100%;
		display: block;
		margin-bottom: 0;
		input {
			width: 100%;
			border: none;
			box-shadow: none;
		}
	}
	.btn {
		width: 100%;
	}
}

/**
 * Form login
 */
.et-modal-sign {
	.modal-dialog {
		max-width: 500px;
	}
	.et-form {
		padding: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    margin-top: -70px;
	}
	.et-form-title {
		@extend .et-text-heading-2;
	}
}
.et-modal-header-symbol {
	height: 300px;
	display: flex;
  justify-content: center;
  align-items: center;
  > * {
  	margin-top: -30px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	color: $white;
  	p {
  		margin-top: $small-spacing-item;
  	}
  }
  .close {
  	position: absolute;
    top: 15px;
    right: 15px;
    opacity: 1;
  }
}

.carousel {
	&:hover .carousel-control {
		opacity: 1;
		transition: all 0.5s ease-in-out;
	}
}

.carousel-control {
	width: 100px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	> img {
		width: 20px;
		height: auto;
	}
}