.et-trip-title-block {
	margin-bottom: 30px;

	.et-trip-heading {
		margin-top: 0;
	}

	.et-trip-detail {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding-left: 0;
		> li {
			p {
				margin-bottom: 0;
			}
			&:not(:first-child) {
				padding-left: 30px;
			}
			&:not(:last-child) {
				padding-right: 30px;
				border: none;
				border-right: solid 1px $text-color;
			}
		}
	}
}

.et-form-search {
	border-radius: $border-radius-big;
	background: $white;
	display: none;
	margin-bottom: $normal-padding;
}

.et-form-result {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
	.et-result-item {
		flex: 0 0 33.33333333333%;
		opacity: 0.5;
		padding-left: 15px;
		padding-right: 15px;
		@extend .transition;

		.et-panel-header {
			background: $primary-color;
			color: $white;
			padding: 15px;
			border-radius: $border-radius-normal;
			height: 100px;
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			p {
				margin-bottom: 0;
				line-height: 1.3;
			}
			.media {
				.media-left {
					border-right: solid 2px $white;
				}
				.media-body {
					padding-left: 15px;
					h6 {
						margin-top: 0;
						font-weight: $font-weight-bolder;
						margin-bottom: 3px;
					}
				}
			}
		}

		.et-panel-count {
			line-height: 1;
			display: flex;
			width: 50px;
			justify-content: center;
			@extend .et-text-heading;
		}

		&.active {
			flex: 0 0 66.666666666666667%;
			max-width: 66.666666666666667%;
			opacity: 1;
		}

		&:not(.active) {
			cursor: pointer;
			.et-panel {
				padding: 15px;
			}
			.et-detail, .col-booking, .et-panel-sticky, .col-total-time {
				display: none;
			}
			.et-row-result {
				align-items: flex-start;
				.et-td {
					flex: 0 1 50%;
					padding-right: 10px;
				}
			}
			.et-table-result {
				.et-table-heading {
					display: none;
				}
			}
		}

	}
	.et-row-detail, .et-filter-slider {
		display: none;
	}
	.et-filter-slide {
		overflow: hidden;
	}

}

.et-filter-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: $normal-spacing-item;
	.et-filter-item {
		> *:not(:last-child) {
			margin-right: 15px;
		}
	}
}

.et-filter-slide {
	margin-bottom: $normal-spacing-item;
}

.et-timeline {
	.et-timeline-period {
		position: relative;
		margin-bottom: $small-spacing-item;
		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: solid 2px $primary-color;
			top: 5px;
			left: -20px;
			@extend .transition;
		}
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: calc(100% + 8px);
			left: -15px;
			top: 15px;
			background: $border-color;
		}
		&:hover {
			&::before {
				background: $primary-color;
			}
		}
	}
}

table.et-timeline {
	> tbody > tr:last-child {
		.et-timeline-period {
			margin-bottom: 0;
		}
		.et-timeline-period::after {
			display: none;
		}
	}
}