.et-modal {
	.modal-header {
		border-bottom: none;
		padding: 15px 30px;
		border-top-left-radius: $border-radius-normal;
		border-top-right-radius: $border-radius-normal;
	}
	.modal-body {
		padding: 15px 30px;
	}
	.modal-title {
		text-align: center;
		@extend .et-text-heading-1;
	}
}