.et-table-result {
	.et-table-heading {
		display: flex;
		padding: 0 20px;
		align-items: center;
		margin-bottom: 12px;
		.et-td {
			flex: 0 1 25%;
		}
	}
	.et-row-result {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.et-td {
			flex: 0 1 25%;
			p {
				margin-bottom: 5px;
				line-height: 1.2;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.btn-booking {
			width: 100px;
		}
	}
	.col-booking {
		text-align: right;
	}
	
	.et-table-body {
		> ul {
			> li {
				&:not(:last-child) {
					margin-bottom: $normal-spacing-item;
				}
			}
		}
	}
	.et-brand {
		margin-bottom: 8px;
		> ul {
			display: inline-flex;
			flex-wrap: wrap;
			margin-right: 5px;
			> li {
				> img {
					height: 20px;
				}
			}
		}
	}
}

.et-detail-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.et-detail-item {
		flex: 0 1 auto;
		&:first-child {
			flex: 0 1 calc(45% - 15px);
		}
	}
	&.auto {
		.et-detail-item {
			&:first-child {
				flex: 0 1 auto;
			}
		}
	}
}

/**
 * Table no border
 */
.table {
	margin-bottom: $small-spacing-item;
	.table {
		background: transparent;
		margin: 20px 0 20px 20px;
		width: calc(100% - 15px);
	}
}
.table-no-border {
	> tbody > tr > td {
		border-top: none;
		padding: 2px 5px;
	}
}
.et-table-detail-center {
	tr {
		td {
			img {
				height: 30px;
				margin-bottom: $small-spacing-item;
			}
			&:first-child {
				text-align: right;
			}
			&:last-child {
				font-weight: $font-weight-bold;
			}
		}
	}
}
.et-table-detail-between {
	tr {
		td {
			p {
				margin-bottom: 0;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
}
/**
 * et table
 */
.et-table {
	border-bottom: solid 1px $border-color;
	> thead > tr > th {
		font-weight: $font-weight-bolder;
		border-bottom: solid 1px $border-color;
		color: $text-hint;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	> tbody > tr > td {
		border-top: none;
		padding: 20px 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.media {
		.media-body {
			width: auto;
		}
	}
}