.transition {
	transition: all 0.27s ease-in-out;
}
.et-reset-ul {
	list-style: none;
	padding-left: 0;
}
.et-devider-dashed {
	width: 100%;
	border-bottom: dashed 1px $border-color;
	margin-bottom: $small-spacing-item;
}
.et-block {
	border-radius: $border-radius-normal;
	padding: 15px;
	background: $gray-light;
	&.et-block-large {
		padding: 30px;
	}
}
.et-vertical-middle {
	vertical-align: middle !important;
}
.hidden {
	display: none;
}
select {
	cursor: pointer;
}
.et-fullwidth {
	width: 100% !important;
}
/**
 * Background
 */
.et-bg-primary-linear {
	background: $primary-color;
	background-image: linear-gradient(45deg, #1A92FB 0%, $primary-color 100%);
}
/**
 * Alert
 */
.alert {
	font-weight: $font-weight-bold;
	border-radius: $border-radius-normal;
	ul {
		padding-left: 20px;
	}
}
.et-area-alert {
	margin-bottom: $big-spacing-item;
}
/**
 * Price
 */
.et-price-sub {
	color: $text-hint;
	font-weight: $font-weight-bolder;
	font-size: 12px;
}
.et-price-normal {
	color: $accent-color;
	font-weight: $font-weight-bolder;
	font-size: 14px;
}
.et-price-big {
	color: $accent-color;
	font-weight: $font-weight-bolder;
	font-size: 20px;
}
.et-price-bigger {
	color: $accent-color;
	font-weight: $font-weight-bolder;
	font-size: 24px;
}

/**
 * Sizing
 */
.et-section-padding {
	padding-top: $big-spacing-item;
	padding-bottom: $big-spacing-item;
}
.et-normal-padding {
	padding: $normal-padding;
}
.et-normal-padding-x {
	padding-left: $normal-padding;
	padding-right: $normal-padding;
}
.et-normal-padding-r {
	padding-right: $normal-padding;
}
.et-normal-padding-y {
	padding-top: $normal-padding;
	padding-bottom: $normal-padding;
}
.et-normal-margin-y {
	margin-top: $normal-padding;
	margin-bottom: $normal-padding;
}
.et-normal-margin-t {
	margin-top: $normal-padding;
}
.et-normal-margin-r {
	margin-right: $normal-padding;
}
.et-normal-margin-b {
	margin-bottom: $normal-padding;
}
.et-small-margin-y {
	margin-top: $small-spacing-item;
	margin-bottom: $small-spacing-item;
}
.et-small-margin-t {
	margin-top: $small-spacing-item;
}
.et-small-margin-b {
	margin-bottom: $small-spacing-item;
}
.et-small-padding-r {
	padding-right: $small-spacing-item;
}
.et-small-padding-l {
	padding-left: $small-spacing-item;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}

/**
 * Shadow
 */

// Shadow slow blur
.et-shadow-100 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.et-shadow-300 {
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

// Shadow hard blur
.et-shadow-500 {
	box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
}

/**
 * Typography
 */
.et-text-highlight {
	color: $primary-color;
}
.et-text-highlight-2 {
	color: $secondary-color;
}
.et-text-highlight-3 {
	color: $accent-color;
}
.et-heading-highlight {
	color: $accent-color;
	font-size: 20px;
	font-weight: $font-weight-bold;
	margin-bottom: 16px;
}
.et-text-heading {
	font-size: 44px;
	font-weight: $font-weight-bold;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-heading-1 {
	font-size: 24px;
	font-weight: $font-weight-bold;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-heading-2 {
	font-size: 20px;
	font-weight: $font-weight-bolder;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-heading-3 {
	font-size: 16px;
	font-weight: $font-weight-bolder;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-heading-4 {
	font-size: 14px;
	font-weight: $font-weight-bolder;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-caption {
	color: $text-hint;
	font-weight: $font-weight;
	font-size: 12px;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-caption-bold {
	color: $text-hint;
	font-weight: $font-weight-bolder;
	font-size: 12px;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-bold {
	font-weight: $font-weight-bolder;
	margin-bottom: 16px;
	&.light {
		color: $white;
	}
}
.et-text-normal {
	font-weight: $font-weight-bold;
	margin-bottom: 12px;
	&.light {
		color: $white;
	}
}
.et-title-style-1 {
	font-size: 14px;
	font-weight: $font-weight-bolder;
	color: $primary-color;
	border-bottom: solid 1px $border-color;
	margin-top: 0;
	margin-bottom: $normal-spacing-item;
	margin-bottom: 16px;
	> span {
		position: relative;
		padding: 8px 0;
		display: inline-block;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			bottom: -1.5px;
			border-radius: 3px;
			background-color: $primary-color;
		}
	}
}
.et-title-style-2 {
	color: $primary-color;
	font-size: 16px;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	.et-sub-icon {
		position: absolute;
		display: flex;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: solid 2px $primary-color;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: -47px;
		background: $white;
		transform: translateY(-50%);
		img {
			height: 12px;
			width: auto;
		}
	}
}
.et-title-style-3 {
	color: $text-color;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	margin-bottom: 30px;
}
/**
 * List
 */
.et-list {
	list-style: none;
	padding-left: 0;
	&:not(.no-padding) {
		padding-right: 24px;
	}
	.et-list-title {
		color: $primary-color;
		@extend .et-text-heading-4;
		text-transform: uppercase;
		font-weight: $font-weight-bolder;
	}
	.et-list-item {
		@extend .transition;
		font-weight: $font-weight;
		padding: 3px 0;
		border-radius: $border-radius-small;
		cursor: pointer;
		&:hover {
			font-weight: $font-weight-bold;
			background: rgba($secondary-color-light, 0.3);
			padding-left: 10px;
		}
	}
	.media {
		.media-left {
			padding-right: 15px;
		}
		.media-heading {
			font-weight: $font-weight-bold;
			font-size: 16px;
			margin-bottom: 1rem;
		}
	}
}
.nav {
	.et-nav-symbol {
		vertical-align: middle;
		margin-right: 1rem;
	}
}


/**
 * Popover
 */
.et-link {
	text-decoration: none !important;
	color: $text-color;
	padding-right: 15px;
	@extend .transition;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: 0;
		width: 10px;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 10px auto;
		background-position: right center;
	}
	&.et-link-popover::after {
		background-image: url('../images/ic_carret_down.svg');
	}
	&.et-link-order {
		&::after {
			background-image: url('../images/ic_multiple_carret_none.svg');
		}
		&.et-link-ascending::after {
			background-image: url('../images/ic_multiple_carret.svg');
		}
		&.et-link-descending::after {
			background-image: url('../images/ic_multiple_carret.svg');
			transform: rotate(180deg);
		}
	}
	&:hover {
		@extend .et-text-highlight;
	}
}

/**
 * Flexbox
 */
.et-flexbox {
	display: flex;
	&.et-justify-between {
		justify-content: space-between;
	}
	&.et-align-item, &.et-align-middle {
		align-items: center;
	}
}

/**
 * Badge
 */
.badge {
	font-weight: $font-weight-bolder;
	&.badge-primary {
		background: $primary-color;
	}
	&.badge-secondary {
		background: $secondary-color;
	}
	&.badge-accent {
		background: $accent-color;
	}
}

/**
 * Switch
 */
.switch-material {
	line-height: 1;
	label {
		margin-bottom: 0;
	}
}
.switch-material-label {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 31px;
  background: $border-color;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:after {
    position: absolute;
    left: 3px;
    top: 3px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    content: '';
    transition: all 0.3s ease;
  }
  &:active {
    &:after {
      transform: scale(1.15, 0.85);
    }
  }
}

.switch-material-input {
  &:checked, &.checked {
    ~ label {
      background: $primary-color;
      &:after {
        left: 14px;
      }
    }
  }
  &:disabled {
    ~ label {
      background: #d5d5d5;
      pointer-events: none;
      &:after {
        background: #bcbdbc;
      }
    }
    + label {
    	display: none;
    }
  }
  &.is-hidden {
    display: none;
  }
}

/**
 * Radio
 */
$md-radio-checked-color: $primary-color;
$md-radio-border-color: $border-color;
$md-radio-size: 20px;
$md-radio-checked-size: 10px; 
$md-radio-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% { 
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.et-radio {
    margin: 16px 0;
    
    &.et-radio-inline {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;   
        }
        &:checked + label:after {
            transform: scale(1);
        }
    }
    
    label {
        display: inline-block;
        height:$md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before, &:after {
            position: absolute;            
            content: '';  
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width:$md-radio-checked-size;
            height:$md-radio-checked-size;
            transform: scale(0);
            background:$md-radio-checked-color;
        }
    }
}

/**
 * Checkbox
 */
$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: $primary-color;
$md-checkbox-border-color: $border-color;

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

.et-checkbox {
  position: relative;
  display: flex;

  label {
    cursor: pointer;
    margin-left: 8px;
    &:before, &:after {
      content: "";
      position: absolute;
      left:0;
      top: 0;
    }
    
    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;
    
    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        
        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
  }
 
}
